# GCP
GCP_PROJECT_ID='sg-pipeline-dev'        # your dev GCP project ID
GCP_REGION='asia-southeast1'

# BigQuery
BQ_DATASET_RAW='dev_<developer>_raw'         # dev_<your_handle>_raw, for ingest
DEV_SCHEMA_PREFIX='dev_<developer>'          # dev_<your_handle>

# LTA DataMall API
LTA_API_KEY='your_lta_api_key'

# OneMap
ONEMAP_EMAIL='your_email@example.com'
ONEMAP_EMAIL_PASSWORD='your_password'
